.big_button{
      background: $bb-color;
      border: none;
      border-bottom: .6rem solid darken($bb-color, 5%);
      color:white;
      font-weight: bold;
      font-size: $l-size;
      width:100%;
      padding: 2.4rem;
      margin-bottom: $m-size;
       

}

.big_button:disabled{
  opacity: .5;

}

.button {
     background: $bb-color;
     color: azure;
     border:none;
     border-bottom: .3rem solid darken($bb-color, 10%);
     margin:0 $l-size;
      padding:  $s-size;
}

.button--link{
   border: none;
   background: none;
   color:white;
   padding: 0;

}
@media (min-width:$desktop-break-point){
       .big_button  {
       margin-bottom: $xl-size 

      }


}